{
  "access_token": "not your business",
  "client_id": "not your business",
  "client_secret": "not your business",
  "refresh_token": "not your business",
  "token_expiry": "not your business",
  "token_uri": "https://oauth2.googleapis.com/token",
  "user_agent": null,
  "revoke_uri": "https://oauth2.googleapis.com/revoke",
  "id_token": null,
  "id_token_jwt": null,
  "token_response": {
    "access_token": "not your business",
    "expires_in": 3599,
    "scope": "https://www.googleapis.com/auth/drive.install https://www.googleapis.com/auth/drive",
    "token_type": "Bearer"
  },
  "scopes": [
    "https://www.googleapis.com/auth/drive",
    "https://www.googleapis.com/auth/drive.install"
  ],
  "token_info_uri": "https://oauth2.googleapis.com/tokeninfo",
  "invalid": false,
  "_class": "OAuth2Credentials",
  "_module": "oauth2client.client"
}
